* {
  margin: 0;
  padding: 0;
  box-sizing: borderbox-box;
}

body {
  background-color: cornsilk;
}

.fundo {
  background-color: #b60c00;
  width: 660px;
  margin: 0 auto;
}
.flex {
  display: flex;
}

.amarelo {
  background-color: yellow;
  padding: 80px;
  margin: 10px;
}

.alongar {
  padding-right: 400px;
}

.alongarmenor{
  padding-right: 280px;
}

.esticar{
  padding-bottom: 360px;
}
 .esticarmenor{
  padding-bottom:170px;
 }

